@import '_mixin.scss';

body {
  margin: 0;
  padding: 0;
  overflow: scroll;

  @include background(null, #35C0CD, null, null, null);
}

.clear { clear: both; }
.desc_float {float: left;}

.stage_1, .stage_2, .stage_3 {
  width: 92%;
  padding: 2% 4%;
  border-bottom: 2px solid #000;
}

.block_name {
  margin: 2% 0px;

  div {
    display: inline-block;
    font-size: 220%;
  }

  .stage_number {
    padding: 1%;
    margin-right: 1%;
  }
}

.date_picker {
  width: 90%;
  margin: 0 auto;

  label {
    font-size: 150%;
  }

  div {
    display: inline-block;
    margin-right: 1%;
  }

  .btn {
    margin-top: -15%;
  }
}
.marg {
  margin: 2% 0;
  text-align: center;
}

.stage_2,
.stage_3 {
  display: none;
}

.room_avail {
  width: 90%;
  padding-top: 10px;
  border-left: 2px solid rgba(0,0,0,.1);
  border-right: 2px solid rgba(0,0,0,.1);
  border-bottom: 2px solid rgba(0,0,0,.1);
  margin: 0 auto;
}

.room_avail:first-child {
  border-top: 2px solid rgba(0,0,0,.1);
}

.room {

  div {
    display: inline-block;
  }

  .room_id {
    width: 5%;
    text-align: center;
    font-size: 150%;
    display: none;
  }

  .room_name {
    width: 50%;
    font-size: 150%;
    padding-left: 5%;
  }

  .room_gallery {
    width: 30%;
    img {
      height: 130px;
      padding: 10px 0px;
    }
  }

  .room_button {
    width: 10%;
  }
}

.room_more_1,
.room_more_2 {
  margin-top: 2%;
  padding:4%;
  text-align: justify;
  display: none;
}

.open_gal_1 {
  float: left;
  margin-left: 1%;
}

.room_1_more,
.room_2_more {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: #000;
  background-color: rgba(0,0,0,.1);

  &:hover {
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
  }
}
